<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>
<% @restaurant.reviews.each do |review|%>
 <p>Review: <%= review.content %>. Rating: <%= review.rating %></p>
  <% end %>



<%= link_to "Back to restaurants", "/restaurants"  %>
<%= link_to "Create a review", new_restaurant_review_path(@restaurant)  %>
